
#header 
{
  padding: 8em 3em;
}

#abstract
{
  /* margin: 0 0 0 0; */
  text-align: justify;
}

/* copied from bootstratp traintisions.css */
.collapse 
{
  display: none;
}

.collapse.show 
{
  display: block;
  text-align: justify;
}

.collapsing 
{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease
}

